@import "./function/**";
@import "./setting/**";
@import "./base/**";
@import "./mixin/**";
@import "./plugin/**";
@import "./module/**";
@import "./page/**";


.test {
  padding: rem(10);
  margin: 0 auto;
  color: #f00;
  background-color: #fff;
}

.br{
  display: none;
}

::before, ::after {
  vertical-align: inherit;
  text-decoration: inherit;
}

.header{
z-index: 5;
position: fixed;
padding: 30px;
width: 100%;
}

.header.active {
  padding: 20px 30px;
  background-color: #21054d;
  z-index: 10;
}

.header-wrap{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header-logo h1{
  color: #fff;
  font-size: rem(20);
}

.header-nav ul{
  display:flex;
  color: #fff;
}

.header-nav li{
  margin-right: rem(20);
  font-size: rem(15);
  font-weight: bold;
}

.burger-btn {
  display: none;
}
/*fv*/

.fv{
  color: #fff;
  height: rem(768);
  background: url(/src/images/common/hero.jpg);
  background-size: cover;
  background-position: center;
}

.fv-logo{
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
}

.fv-logo h1{
  font-size: rem(72);
  width: rem(1000);
}

.fv-logo p{
  text-align:center;
  font-size: rem(24);
  font-weight: 600;
}


.hero__scroll{
  position: absolute;
  right: 20px;
  bottom: 0;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  padding: 10px 10px 90px;
  text-decoration: none;
  text-decoration: none;
  letter-spacing: .2em;
  -ms-writing-mode: tb-rl;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
  writing-mode: vertical-lr;
}

.hero__scroll::after{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 80px;
  content: "";
  background: #fff;
}


.hero__scroll::after{
  animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}


.button{
  position: absolute;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    width: 200px;
    padding: 20px 0;
    transition: .3s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
    background-size: 200% auto;
    font-size: 14px;
    font-size: 0.875rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    margin-top: 100px;
}

.btn--transparent {
  border: 1px solid #fff;
  background: none;
}

.button::after{
  position: absolute;
    top: 50%;
    right: 1.5em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    transition: .3s;
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
}


/*news*/
.news{
  margin: 0px auto;
  text-align: center;
  max-width: rem(900);
  padding-top: rem(70);
}

.news-about{
  display: flex;
}

.news-i{
  display: flex;
}

.news-nav{
  display: flex;
  align-items: center;
  margin-bottom: rem(15);
 
}

.news-nav:last-child{
  margin: 0;
}

.news-nav button{
  width: rem(82);
  height: rem(22);
  background-color: #E8E8E8;
  border-radius: rem(50);
  font-size: rem(12);
  font-weight: bold;
  font-family: Montserrat;
}

.news-nav p{
  font-family: Montserrat;
  margin-right: rem(20);
  font-size: rem(15);
  font-weight: normal;
}



.news-nav h1{
font-size: rem(15);
font-family: ヒラギノ角ゴシック;
font-weight: 300;
margin-left: rem(19)
}

.news-logo{
  color: #391E88;
  margin-right: rem(50);
  font-family: Montserrat;
}

.news-logo h1{
  font-size: 36px;
  font-weight: bold;
}

.news-logo p{
  text-align: left;
  font-size: rem(13);
  font-weight: 600;
}

/*service*/
.service{
max-width: rem(1100);
margin: 0 auto;
}

.service-wrap{
  display: flex;
  margin-bottom: rem(20);
}

.service-nav{
  margin-right: rem(30);
}

.service-nav:last-child{
  margin-right: 0;
}

.service-text h1{
  text-align: center;
  font-size: rem(18);
  padding: rem(16);
  font-family: Montserrat;
  font-weight: bold;
}

.service-text p{
  font-size:rem(15);
  font-weight: 300;
  font-family: ヒラギノ角ゴシック;
}

img{
  width: 100%;
}

.service-logo{
  text-align: center;
  color: #391E88;
  margin-top: rem(140);
  margin-bottom: rem(30);
}

/*works*/
.works{
   text-align: center;
   padding-top: 190px;
   max-width: 1261px;
   margin: 0 auto;
}
.works-wrap{
  display: flex;
  align-items: center;
}
.works-logo p,
.works-logo h1{
  color:  #391E88;
  text-align: center;
  
}

.works-logo h3{
  text-align: center;
  font-size: rem(15);
  padding: rem(20);
  font-family: ヒラギノ角ゴシック;
  font-weight: 300;
}

.slider{
  width: 60%;
  position: relative;
}

.slider-img{
  width: 100%;
}

.works-right{
  background-color: #F0F0F0;
  position: absolute;
  width: rem(837);
  height: rem(651);
  z-index: -5;
  left: 40%;
}

.works-logo{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.slick-prev::before,
.slick-next::before{
  color: #391E88!important;
}

.slick-dots{
  text-align: right;
}

/*COMPANY*/
.company{
  background-image: url(/src/images/common/bg-circle.png);
  padding: 130px 0 130px 0;
  text-align: center;
  background-position: center;
  background-size: contain;
  margin-top: rem(120);
}

.company-wrap{
  height: rem(416);
  max-width: rem(1300);
  background-image:url(/src/images/common/bg-face.png);
  margin: 0 auto;
  width: 100%;
  background-position: center;
}

.company-logo{
  text-align: center;
}

.company-logo h1,
.company-logo p{
  color:  #391E88;
}

.company-logo h1{
  font-size: 36px;
  font-weight: bold;
  font-family: Montserrat;
}

.company-logo p{
  font-weight: 600;
  font-family: ヒラギノ角ゴシック;
  font-size: rem(14);
}

.company-logo h3{
font-size: rem(40);
padding-top: rem(30);
background: linear-gradient(transparent 80%, #f5f534 0%);
text-align: center;
width: rem(650);
margin: 0 auto;
font-weight: 600;
font-family: ヒラギノ角ゴシック;
}

.company-logo h4{
  font-size: rem(15);
  margin:  rem(30);
  line-height: 1.75;
}

/*RECRUIT*/
.recruit{
  padding-top: rem();
  max-width: rem(1110);
  margin: 0 auto;
}

.recruit-wrap{
  display: flex;
}

.recruit-right img{
  width: 60%;
  height: rem(340);
}

.recruit-left{
  text-align: center;
  background-color: #F7F7F7;
  width: 40%;
  
}

.recruit-left h1,
.recruit-left p{
  color: #391E88;
}

.recruit-left h1{
  font-size: rem(36);
  font-weight: bold;
  font-family: Montserrat;
}

.recruit-left p{
  font-size: rem(14);
  font-weight: 600;
  font-family: ヒラギノ角ゴシック;
}

.recruit-left h3{
  font-size: rem(15);
  padding: rem(16);
  font-weight: bold;
  font-family: ヒラギノ角ゴシック;
}

.recruit-left h1{
 
}


/*contact*/
.contact{
  background-color: #F7F7F7;
  margin-top: rem(90);
}

.contact-logo{
  text-align: center;
  padding: rem(50);
}

.contact-logo h1,
.contact-logo p{
  color: #391E88;
}

.contact-logo h3{
  font-size: rem(15);
}

/*footer*/
.footer{
  background-color: #120E19;
  padding: rem(70);
  position: relative;
}

.footer-nav{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-nav li{
  list-style: none;
  color: #FFFFFF;
  margin-right: rem(30);
}

.footer-logo{
  color: #A798B7;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link-btn{
  display: block;
  width: rem(200);
  line-height: rem(60);
  margin: 0 auto;
  background-image: linear-gradient(to right, #7633a4 0%, #250d65 51%, #7633a4 100%);
  border-radius: rem(50);
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  background-size: 200% auto;
  position: relative;
}

.link-btn::after{
  position: absolute;
    top: 50%;
    right: 1.5em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    transition: .3s;
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
}

.contact-logo h3{
  padding: rem(30);
}

/*page-top*/
.page-top {
  position: fixed;
  right: 45px;
  bottom: 45px;
  z-index: 1;
}

element.style {
  display: block;
}

.page-top__link{
  display: block;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  background-color: #391e88;
}



.fa-arrow-up:before {
  content: "\f062";
}

@media screen and (max-width:768px) {
.service-wrap{
  display: block;
}

.news-about{
  display: block;
}

.br{
  display: block;
}

.news-nav{
  display: block;
  text-align: left;
  padding: 20px;

}

.company-wrap{
  background: none;
}

.recruit-wrap{
  flex-direction: column-reverse;
}

.works-wrap{
  display: block;
}

.header{
  padding: 30px 4vw 0;
}
.header-nav{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #7633a4 0%, #250d65 51%, #7633a4 100%);
  background-size:auto 200%;
}
.nav-list{
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list li{
  margin: 0 0 30px;
}
.nav-item:last-of-type{
  margin-bottom: 0;
}

.burger-btn {
  display: block;
  position: absolute;
  top: 30px;
  right: 4vw;
}

.nav-list {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-btn .bar {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #fff;
}

.bar_top, .bar_mid {
  margin-bottom: 8px;
}

.burger-btn.cross .bar_top {
  -webkit-transform: rotate(45deg) translate(8px, 8px);
          transform: rotate(45deg) translate(8px, 8px);
}

.burger-btn.cross .bar_mid {
  opacity: 0;
}

.burger-btn.cross .bar_bottom {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
          transform: rotate(-45deg) translate(8px, -8px);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.works{
  padding: rem(20);
  position: relative;
}

.company-logo h3{
  font-size: rem(28);
  text-align: center;
  width:rem(250);
  background: linear-gradient(transparent 85%, #f5f534 0%);

  }

.slider{
width: 100%;

}

.works-logo{
  position: absolute;
  top: 65%;
  left: 50%;
}

.works-right{
  position: absolute;
width: 100%;
left: 0%;
top:60%;
height: rem(400);
}

.works-logo h3{
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: rem(10);
}

.footer-nav{
  display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

.recruit-left{
  width: 100%;
  margin-bottom: rem(100);
}

.service-nav{
  margin: 0;
  padding: 20px;
}

.company{
  margin-top: 300px;
}

.recruit{
  padding: 0;
}
}